.search-form {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  background-color: #46c8ff;
}

.search-form-input {
  padding: 0 10px;
  height: 32px;

  border: none;
  border-radius: 4px 0 0 4px;
}

.search-form-btn {
  padding: 0 10px;
  height: 32px;

  color: #ffffff;
  background-color: #006699;
  border: none;
  border-radius: 0 4px 4px 0;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.search-form-btn:is(:hover, :focus) {
  background-color: #0088cc;
}
