.find-image {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #46c8ff;
}

.search-form-input {
  padding: 0 10px;
  height: 28px;
  border: none;
  border-radius: 4px;
}

.search-form-btn {
  padding: 0 10px;
  height: 28px;
  color: #00b3ff;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 0.1s ease-in-out;
}

.search-form-btn:is(:hover, :focus) {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
